.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.959961;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.798828;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.958008;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.750488;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.ls1{letter-spacing:5.920000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._1{margin-left:-1.735975px;}
._0{width:1.211061px;}
.fc5{color:rgb(114,70,130);}
.fc4{color:rgb(0,0,0);}
.fc0{color:rgb(124,70,146);}
.fc1{color:rgb(201,226,101);}
.fc2{color:rgb(255,255,255);}
.fc3{color:rgb(165,200,64);}
.fs4{font-size:24.520002px;}
.fs3{font-size:32.000000px;}
.fs9{font-size:37.599998px;}
.fs6{font-size:48.279999px;}
.fs5{font-size:68.440002px;}
.fs8{font-size:99.959999px;}
.fs2{font-size:132.000000px;}
.fs7{font-size:133.320023px;}
.fs1{font-size:164.000000px;}
.fs0{font-size:200.000000px;}
.y0{bottom:0.000000px;}
.y36{bottom:14.158493px;}
.y28{bottom:21.259445px;}
.y35{bottom:25.438492px;}
.yb{bottom:28.355278px;}
.y2c{bottom:30.701096px;}
.y27{bottom:32.539444px;}
.y30{bottom:35.864944px;}
.y34{bottom:36.718491px;}
.ya{bottom:37.955279px;}
.y8{bottom:39.683628px;}
.y2b{bottom:41.981096px;}
.y26{bottom:43.819445px;}
.y2f{bottom:47.144945px;}
.y33{bottom:47.998491px;}
.y2a{bottom:53.261097px;}
.y25{bottom:55.099445px;}
.y2e{bottom:58.424946px;}
.y32{bottom:59.278492px;}
.y19{bottom:62.642593px;}
.y29{bottom:64.541096px;}
.y24{bottom:66.379444px;}
.y9{bottom:69.640442px;}
.y2d{bottom:69.704945px;}
.y7{bottom:70.537231px;}
.y31{bottom:70.558491px;}
.y18{bottom:77.126602px;}
.y17{bottom:91.564240px;}
.yc{bottom:105.505893px;}
.y16{bottom:120.578598px;}
.y21{bottom:131.961651px;}
.y15{bottom:135.062592px;}
.y20{bottom:140.541649px;}
.y1f{bottom:149.121651px;}
.y14{bottom:149.500229px;}
.y3{bottom:149.798111px;}
.y1e{bottom:157.701651px;}
.y1c{bottom:157.701666px;}
.y1d{bottom:166.281651px;}
.y1b{bottom:166.281666px;}
.y13{bottom:181.092793px;}
.y1a{bottom:197.135254px;}
.y12{bottom:197.752792px;}
.y2{bottom:209.798119px;}
.y11{bottom:213.964226px;}
.y10{bottom:228.448226px;}
.y1{bottom:269.798119px;}
.yf{bottom:274.062822px;}
.ye{bottom:289.121502px;}
.y6{bottom:289.461483px;}
.y23{bottom:307.752625px;}
.y4{bottom:316.661797px;}
.yd{bottom:319.975174px;}
.y5{bottom:320.315094px;}
.y22{bottom:342.242628px;}
.h5{height:18.390002px;}
.h4{height:24.000000px;}
.hc{height:28.199999px;}
.h9{height:36.209999px;}
.h8{height:36.964374px;}
.h7{height:52.399377px;}
.hb{height:76.531874px;}
.h3{height:99.000000px;}
.ha{height:99.990017px;}
.h6{height:101.062500px;}
.h2{height:125.562500px;}
.h1{height:153.125000px;}
.h0{height:405.000000px;}
.w0{width:720.000000px;}
.x0{left:0.000000px;}
.x5{left:14.343620px;}
.x8{left:18.224335px;}
.x1{left:32.054016px;}
.xa{left:42.000000px;}
.xc{left:45.502129px;}
.x4{left:161.878891px;}
.x9{left:164.646927px;}
.x3{left:166.212128px;}
.xb{left:215.729843px;}
.x2{left:312.780853px;}
.x6{left:318.780823px;}
.x7{left:320.119873px;}
.xd{left:386.585571px;}
.xe{left:548.992004px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ls1{letter-spacing:7.893333pt;}
.ws0{word-spacing:0.000000pt;}
._1{margin-left:-2.314634pt;}
._0{width:1.614748pt;}
.fs4{font-size:32.693336pt;}
.fs3{font-size:42.666667pt;}
.fs9{font-size:50.133331pt;}
.fs6{font-size:64.373332pt;}
.fs5{font-size:91.253337pt;}
.fs8{font-size:133.279999pt;}
.fs2{font-size:176.000000pt;}
.fs7{font-size:177.760030pt;}
.fs1{font-size:218.666667pt;}
.fs0{font-size:266.666667pt;}
.y0{bottom:0.000000pt;}
.y36{bottom:18.877991pt;}
.y28{bottom:28.345927pt;}
.y35{bottom:33.917989pt;}
.yb{bottom:37.807037pt;}
.y2c{bottom:40.934794pt;}
.y27{bottom:43.385925pt;}
.y30{bottom:47.819926pt;}
.y34{bottom:48.957987pt;}
.ya{bottom:50.607039pt;}
.y8{bottom:52.911504pt;}
.y2b{bottom:55.974795pt;}
.y26{bottom:58.425926pt;}
.y2f{bottom:62.859927pt;}
.y33{bottom:63.997988pt;}
.y2a{bottom:71.014796pt;}
.y25{bottom:73.465927pt;}
.y2e{bottom:77.899928pt;}
.y32{bottom:79.037989pt;}
.y19{bottom:83.523458pt;}
.y29{bottom:86.054794pt;}
.y24{bottom:88.505925pt;}
.y9{bottom:92.853923pt;}
.y2d{bottom:92.939926pt;}
.y7{bottom:94.049642pt;}
.y31{bottom:94.077988pt;}
.y18{bottom:102.835470pt;}
.y17{bottom:122.085653pt;}
.yc{bottom:140.674524pt;}
.y16{bottom:160.771464pt;}
.y21{bottom:175.948868pt;}
.y15{bottom:180.083455pt;}
.y20{bottom:187.388865pt;}
.y1f{bottom:198.828868pt;}
.y14{bottom:199.333639pt;}
.y3{bottom:199.730815pt;}
.y1e{bottom:210.268867pt;}
.y1c{bottom:210.268888pt;}
.y1d{bottom:221.708867pt;}
.y1b{bottom:221.708888pt;}
.y13{bottom:241.457057pt;}
.y1a{bottom:262.847005pt;}
.y12{bottom:263.670390pt;}
.y2{bottom:279.730825pt;}
.y11{bottom:285.285634pt;}
.y10{bottom:304.597635pt;}
.y1{bottom:359.730825pt;}
.yf{bottom:365.417096pt;}
.ye{bottom:385.495336pt;}
.y6{bottom:385.948644pt;}
.y23{bottom:410.336833pt;}
.y4{bottom:422.215729pt;}
.yd{bottom:426.633565pt;}
.y5{bottom:427.086792pt;}
.y22{bottom:456.323504pt;}
.h5{height:24.520002pt;}
.h4{height:32.000000pt;}
.hc{height:37.599998pt;}
.h9{height:48.279999pt;}
.h8{height:49.285832pt;}
.h7{height:69.865836pt;}
.hb{height:102.042499pt;}
.h3{height:132.000000pt;}
.ha{height:133.320023pt;}
.h6{height:134.750000pt;}
.h2{height:167.416667pt;}
.h1{height:204.166667pt;}
.h0{height:540.000000pt;}
.w0{width:960.000000pt;}
.x0{left:0.000000pt;}
.x5{left:19.124827pt;}
.x8{left:24.299113pt;}
.x1{left:42.738688pt;}
.xa{left:56.000000pt;}
.xc{left:60.669505pt;}
.x4{left:215.838521pt;}
.x9{left:219.529236pt;}
.x3{left:221.616170pt;}
.xb{left:287.639791pt;}
.x2{left:417.041138pt;}
.x6{left:425.041097pt;}
.x7{left:426.826497pt;}
.xd{left:515.447428pt;}
.xe{left:731.989339pt;}
}
